<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h2><%= @blog.title %></h2>
	</div>

	<div class="panel-body">
		<p><b><i><%= @blog.author %></p></b></i>
		<h6><i><%= time_ago_in_words(@blog.created_at) %> ago</i></h6>
		<br>

    <section class="row">
      <div class="col-sm-6 col-lg-6">
        <div class="flex-video widescreen"><iframe src="<%= @blog.medialink %>" frameborder="0" allowfullscreen=""></iframe></div>
      </div>
    </section>

		<p><%= includespaces(@blog.entry).html_safe %></p>
	</div>
</div>

<%= link_to 'Back', blogs_path %>
